@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background: black;
}

#app {
    max-width: 112rem;
    margin: 0 auto;
    padding: 0 2rem;
    max-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 13rem;
    gap: 8px;
    margin-bottom: 8.7rem;
}

header input {
    width: 64rem;
    height: 4.8rem;
    padding: 1.6rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    background: #06181C;
    border: none;
    border-radius: 5px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

header button {
    background: #065E7C;
    cursor: pointer;
    width: 17rem;
    height: 4.8rem;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 5px;
}

header button:hover {
    background: white;
    color: #065E7C;
}

table {
    width: 100%;
    border-collapse: collapse;
    position: relative;
}

table * {
    font-size: 2rem;
    color: #E1E1E6;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}

.box {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 2rem;
}

main {
    background: #030B0D;
    border-radius: 0rem 0rem 1rem 1rem;
    height: 62.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    display: flex;
    align-items: center;
    gap: 6.5rem;
}

span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 25px;
    color: #4E5455;
}

img {
    width: 13.2rem;
}

.hide {
    display: none !important;
}

table th {
    background: #092D38;
    text-align: left;
    padding: 1.6rem;
}

table th:first-child {
    border-top-left-radius: 1rem;
}

table th:last-child {
    border-top-right-radius: 1rem;
}

table tr:nth-child(even) {
    background: #06181C;
}

table tr:nth-child(odd) {
    background: rgba(6, 22, 27, 0.5);
}

h2 {
    color: white;
}

table td {
    padding: 1.6rem;
    text-align: left;
}

td.user {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

td.user img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;
}

a {
    text-decoration: none;
}

td.user a span {
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 160%;
}

.remove {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
}